{% extends "base.html" %}
{% from 'macros.html' import pintar_alerta %}

{% block titulo_pagina %} Registrar solicitud de compras {% endblock %}
{% block dinamico %}
<div class="card">
        <div class="card-header">Registrar solicitud de compras</div>
      
	   <!--card main-->
		
	   <div class="card-body">
		<!--nro solicitud, estado de solcitud, fecha de solicitud-->			
		<div class="row g-3">
            <div id="lblnrosolicitud" class="col col-xs-12 col-md-3 col-lg-3 col-xl-3" hidden>
                <label >Nro. Solicitud</label>
            </div>
            <div class="col col-xs-12 col-md-1 col-lg-1 col-xl-1">
                <label for="inputPassword2">Estado solicitud</label>
            </div>
            <div class="col col-xs-12 col-md-3 col-lg-3 col-xl-3">
                <select class="form-control"  name = "selEstado">
                    <option selected></option>
                    {% if listarEstado |length > 0%}
                            {% for esta in listarEstado %}
                            <option value="{{ esta[0] }}">{{ esta[1] }}</option>
                            {% endfor %}
                    {% endif %}
                  </select>
	             </div>
            <div class="col col-md-1">
                <label for="fechasolicitud" >Fecha solicitud</label>
            </div>
            <div class="col col-md-3">
              <input type="date" class="form-control" id="fechasolicitud" value="" autocomplete="off">
            </div>
        </div>


		<!-- -->	
				


		<!---->			

		<!-- -->
		<div class="row mt-4">
			<div class="col col-md-12">
				<div class="card">
					<div class="card-header">Datos del Solicitante</div>
					<div class="card-body">

					<!--codigo funcionario ,nombre-->			

						<div class="row g-3 align-items-center">
							<div class="col"></div>
  
							<div class="col col-md-6 mb-4">
                                <select class="form-control"  name = "selfuncionario">
                                    <option selected></option>
                                    {% if listarFuncionario |length > 0%}
                                            {% for item in listarFuncionario %}
                                            <option value="{{ item['id'] }}">{{ item['ci'] }} - {{ item['nombres'] }} - {{ item['apellidos'] }}</option>
                                            {% endfor %}
                                    {% endif %}
                                  </select>
                            </div>
                            <div class="col"></div>

						</div>



                        <div class="row g-3">
                            <div class="col col-md-12">
                              <table id="tblfuncionario" class="table table-striped table-hover">
                                  <tr>
                                    <th scope="row" class="table-dark">Cedula</th>
                                    <td colspan="row" class="text-center" id="tdcedula"></td>
                                  </tr>
                                  <tr>
                                    <th scope="row" class="table-dark">Nombres y Apellidos</th>
                                    <td colspan="row" class="text-center" id="tdnombres"></td>
                                  </tr>
                                  <tr>
                                    <th scope="row" class="table-dark">Cargo</th>
                                    <td colspan="2" class="text-center" id="tdcargo"></td>
                                  </tr>
                                  <tr>
                                    <th scope="row" class="table-dark">Departamento</th>
                                    <td colspan="2" class="text-center" id="tddepartamento"></td>
                                  </tr>
                              </table>
                            </div>
                        </div>

				
					</div>
				</div>
			</div>
		</div>
	<!-- -->

	<!-- solicitud info -->
	<div class="row mt-4">
		<div class="col col-md-8">
			<div class="card">
				<div class="card-header">Solicitud - info</div>
				<div class="card-body">
					<div class="row g-3">
						<div class="col col-md-2">
							<label for="txtruc">Prioridad</label>
						</div>
						<div class="col col-md-4">

							<select class="form-control"  name = "selPrioridad">
								<option selected></option>
								{% if listar_prioridades |length > 0%}
									{% for item in listar_prioridades %}
									<option value="{{ item['id'] }}">{{ item['descripcion'] }}</option>
									{% endfor %}
								{% endif %}
							      </select>
						</div>
						<div class="col col-md-3">
							<label for="inputPassword2">Fecha Entrega </label>
						</div>
						<div class="col col-md-3">
						  <input type="date" class="form-control" id="txtfechaentrega" value="" autocomplete="off" >
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- -->

<!-- Información insumos -->
		<div class="row mt-4">
			<div class="col col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="row g-3">
							<h5>Información insumos</h5>
							<div class="col col-md-offset-1"></div>
							<div class="col col-md-1">
								<label for="txtruc" class="visually-hidden">Agregar</label>
							</div>
							<div class="col col-md-7">
								<select class="form-control"  name = "selinsumo">
									<option selected></option>
									{% if listar_insumos |length > 0%}
										{% for item in listar_insumos %}
										<option value="{{ item['id'] }}">{{ item['id'] }} | {{ item['descripcion'] }} | {{ item['costo'] }} | {{ item['marca'] }} | {{ item['tipo_insumo'] }} | {{ item['unidad_medida'] }}</option>
										{% endfor %}
									{% endif %}
								 </select>

							</div>
						</div>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">First</th>
								<th scope="col">Last</th>
								<th scope="col">Handle</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Jacob</td>
								<td>Thornton</td>
								<td>@fat</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td colspan="2">Larry the Bird</td>
								<td>@twitter</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--  -->
	</div>
        <div class="card-footer">
         <button class="btn btn-primary">Registrar</button>
		 <button class="btn btn-secondary">Cancelar</button>
		 <button class="btn btn-info">Salir</button>
        </div>
</div>
{{ pintar_alerta(messages) }}
{% endblock %}

{% block mi_javascript %}
<script>

	const data_from_server = {
	}
	const extra_settings_select2 = {
		placeholder: "Buscar Item",
		theme: 'bootstrap-5'
	      }
	      $(function(){
		$('select[name="selestado"], select[name="selfuncionario"], select[name="selPrioridad"], select[name="selinsumo"]').select2(extra_settings_select2);
		$('select[name="selfuncionario"]').on('change', function(){
		  if(!$(this).val()) {
		    $('#tblfuncionario').find('td').val('');
		    return;
		  }
		  fetch(`/gestionar-compras/registrar-solicitud-compras/v1/get-funcionario-by-id/${$(this).val()}`)
		    .then(resp => resp.json())
		    .then(funcionario => {
		      $('#tdcedula').text(funcionario.ci);
		      $('#tdnombres').text(`${funcionario.nombres} ${funcionario.apellidos}`);
		      $('#tdcargo').text(funcionario.cargo);
		      $('#tddepartamento').text(funcionario.departamento);
		    })
		    .catch(err => console.error(err));
	    
		});
	      });
    </script>
  {% endblock %}