<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="invoice.css" media="print" rel="stylesheet">
    <title>{{titulo}}</title>
    <meta name="description" content="Invoice demo sample">
    <meta name="author" content="Juan">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/invoice.css') }}"/>
  </head>

  <body>

    <h1>Pedido N.º {{ nro_pedido }}</h1>

    <dl id="informations">
      <dt>Plazo Entrega</dt>
      <dd>{{ pedido['fecha_entrega_plazo_pedido'] }}</dd>
      <dt>Estado</dt>
      <dd>{{ pedido['estado_pedido'] }}</dd>
    </dl>

    <table>
      <thead>
        <tr>
            <th>Insumo</th>
            <th>Unidad de medida</th>
            <th>cantidad</th>
            <th>Depósito</th>
        </tr>
    </thead>
    <tbody>
      {% for ped in pedido['detalle_pedido'] %}
        <td>{{ ped['insumos'] }}</td>
        <td>{{ ped['unidad_medida'] }}</td>
        <td>{{ ped['cantidad'] }}</td>
        <td>{{ ped['deposito'] }}</td>
      {% endfor %}
    </tbody>
    </table>
  </body>
</html>