{% extends "base.html" %}
{% from 'macros.html' import pintar_alerta %}


{% block dinamico %}
<div class="card">
  <div class="card-header">
    <a href="{{ url_for('rpcmod.formulario_registrar_solicitud_compras') }}" class="btn btn-primary">Nuevo</a>
    <a  class="btn btn-info">Listar Pedidos de Compra</a>

  </div>
  <div class="card-body">
    <table class="table" id="tbl">
        <thead>
          <tr>
            <th scope="col">Nro Pedido</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha Creacion</th>    
            <th scope="col">Fecha Entrega</th>
            <th scope="col">Nro Solcitud Interna</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
            {% if lista_pedidos|length > 0 %}
                {% for item in lista_pedidos %}
                <tr class="item_pedidos" data-id="{{ item['id_formulario_pedido_compras'] }}">
                    <td>{{ item['nro_solicitud_compra'] }}</td>
                    <td>{{ item['ruc_iden'] }}</td>
                    <td>{{ item['estado_pedido'] }}</td>
                    <td>{{ item['creacion_fecha'] }}</td>
                    <td>{{ item['fecha_entrega_plazo_pedido'] }}</td>                    
                    <td>{{ item['nro_solicitud'] }}</td>
                    <td>
                      <button  type="button"  class="asignar btn btn-secondary btn-secondary ver_pedido" data-id-proveedor="{{ item['id_proveedor'] }}"  data-nro_solicitud_compra="{{ item['nro_solicitud_compra'] }}">Ver Pedido</button>
                      <button  type="button"  class="btn btn-secondary btn-secondary generar_pedido"  data-id-proveedor="{{ item['id_proveedor'] }}" data-id_formulario_pedido_compras="{{ item['id_formulario_pedido_compras'] }}">Generar Pedido</button>

                      <button  type="button"  class="asignar btn btn-primary btn-warning cambiar_proveedor"  data-id-proveedor="{{ item['id_proveedor'] }}" data-id_formulario_pedido_compras="{{ item['id_formulario_pedido_compras'] }}">Cambiar Proveedor</button>

                    </td>

                </tr>

                {% endfor %}

            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="modal fade" id="cambiarProveedorModal" tabindex="-1" aria-labelledby="cambiarProveedor" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar Proveedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                </div>
               
                <div class="modal-body">
                  <input type="hidden" id="input_id_formulario_pedido_compra">
                  <input type="hidden" id="input_old_id_proveedor">                  
                    <select class="form-select" aria-label="Cambiar proveedor" id="cboProveedor">
                        <option selected>...</option>
                        {% if lista_proveedores|length > 0 %}
                        {% for item in lista_proveedores %}
                            <option value="{{ item['id'] }}">Ruc: {{ item['ruc'] }} - {{ item['ruc_nro_identificador'] }}  {{ item['razon_social'] }}</option>
                        {% endfor %}
                      {% endif %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btAddCerrar" data-dismiss="modal">Cerrar</button>

                    <button type="button" class="btn btn-primary" id="btnAceptarCambioProveedor">Aceptar</button>

                </div>
            </div>
        </div>
      </div>
    </div>
    {{ lista_pedidos }}
{% endblock %}

{% block mi_javascript %}
<script>
  const data_from_server = {
    url_ver_pedido: "{{ url_for('rpcmod.formulario_ver_pedido_compra') }}"
 }

	const addEvents = () => {
    // ,as adelante ver pedido con su detalles
		$('#tbl').on('click','.cambiar_proveedor', function(){
			if(confirm('¿Desea Cambiar Proveeedor?')){
        $('#cambiarProveedorModal').modal('show');
        const id_proveedor = $(this).data('id-proveedor');
        const id_formulario_pedido_compras = $(this).data('id_formulario_pedido_compras');
        $('#input_id_formulario_pedido_compra').val(id_formulario_pedido_compras);
        $('#input_old_id_proveedor').val(id_proveedor);
        $('#cboProveedor').val(id_proveedor);
			}
		});
        // ,as adelante ver pedido con su detalles
		$('#tbl').on('click','.ver_pedido', function(){
			if(confirm('¿Desea Visualizar?')){
        const nro_pedido_compra = $(this).data('nro_solicitud_compra');
        location.href = `${data_from_server.url_ver_pedido}/${nro_pedido_compra}`            
			}
		});
    //generar pedido de compra
    $('#tbl').on('click','.generar_pedido', function(){
			if(confirm('¿Desea Generar?')){
        const nro_pedido_compra = $(this).data('nro_solicitud_compra');
        location.href = `${data_from_server.url_ver_pedido}/${nro_pedido_compra}`            
			}
		});
    
    $('#btnAceptarCambioProveedor').on('click', function(){
      if($('#input_old_id_proveedor').val() === $('#cboProveedor').val()) {
        alert('no se ha cambiado');
        return
      }
      const id_proveedor = $('#cboProveedor').val();
      fetch('{{ url_for("rpcmod.actualizar_proveedor_por_pedido_compra") }}', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
          },body: JSON.stringify({
            new_id_proveedor: Number($('#cboProveedor').val()),
            old_id_proveedor: Number($('#input_old_id_proveedor').val()),
            id_formulario_pedido_compra: Number($('#input_id_formulario_pedido_compra').val())
          })
        }) 
        .then(resp=> resp.json())
        .then( data => {
          if(data && !data.error && data.success){
            alert(data.success);
          } else {
            alert(data.error);
          } 
         
        }).catch(err => alert(err))
    });
	} // fin de la funcion addEvents
//funtion name
  $(function(){
    $('#tbl').DataTable();
	addEvents();
  });
</script>
{% endblock %}