{% extends "base.html" %}
{% from 'macros.html' import pintar_alerta %}


{% block dinamico %}
<div class="card">
  <div class="card-header">
    <a href="{{ url_for('rscmod.formulario_registrar_solicitud_compras') }}" class="btn btn-primary">Nuevo</a>
    <a  class="btn btn-info">Listar Pedidos de Compra</a>

  </div>
  <div class="card-body">
    <table class="table" id="tbl">
        <thead>
          <tr>
            <th scope="col">Nro Pedido</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha Creacion</th>    
            <th scope="col">Fecha Entrega</th>
            <th scope="col">Nro Solcitud Interna</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
            {% if lista_pedidos|length > 0 %}
                {% for item in lista_pedidos %}
                <tr class="item_pedidos" data-id="{{ item['id_formulario_pedido_compras'] }}">
                    <td>{{ item['nro_solicitud_compra'] }}</td>
                    <td>{{ item['ruc_iden'] }}</td>
                    <td>{{ item['estado_pedido'] }}</td>
                    <td>{{ item['creacion_fecha'] }}</td>
                    <td>{{ item['fecha_entrega_plazo_pedido'] }}</td>                    
                    <td>{{ item['nro_solicitud'] }}</td>
                    <td>{{ item['nro_solicitud'] }}</td>

                </tr>

                {% endfor %}

            {% endif %}
          </tbody>
        </table>
        {{ pintar_alerta(messages) }}
      </div>
    </div>
    {{ lista_pedidos }}
{% endblock %}

{% block mi_javascript %}
<script>
 const data_from_server = {
    formulario_modificar_solicitud_compras: '{{ url_modificar }}',
    anular_solicitud_compra: '{{ url_for("rscmod.anular_solicitud_compra") }}',
    index_registrar_solicitud_compras: '{{ url_for("rscmod.index_registrar_solicitud_compras") }}' 
 }

	const addEvents = () => {
		$('#tbl').on('click','.asignar', function(){

			if(confirm('Desea Asignar ')){
                /*
                const id =  $(this).data('id');

				fetch('/referencial/proveedor/v1/delete-proveedor',{
					method:'DELETE',
					headers:{
						'Content-Type': 'application/json'
					}
					, body: JSON.stringify({ id:id })
				})
				.then(resp => resp.json())
				.then(data => {
					if(data && !data.error && data.success){		
					//para borrar fila del datable
					const fila = $(this).closest('tr');
					const table = $('#tbl').DataTable();
					alert(data.success);
					table.row(fila).remove().draw();
					}
				})
				.catch(err => {
					alert(err);
				 });
                 */
				
			}
		

		});


		$('#tbl').on('click','.modificar', function(){
			const id =  $(this).data('id');

			if(confirm('Desea Modificar ')){
				
                const id = $(this).closest('tr').data('id');
				location.href = `${data_from_server.formulario_modificar_solicitud_compras}/${id}`
				
			}
		

		});
    $('#tbl').on('click','.anular', function() {
      const id = $(this).closest('tr').data('id');
			if(confirm('Desea Anular ')){        
				 fetch(data_from_server.anular_solicitud_compra,{
          method: 'PUT'
          , headers: {
            'Content-Type': 'application/json'
          },body: JSON.stringify({ id_solicitud:id })
         }).then(resp=> resp.json()).then( data => {
          if(data && !data.error && data.success){
            alert(data.success);
            location.replace(data_from_server.index_registrar_solicitud_compras);
          } else {
            alert(data.error);
          } 
         }).catch(err => alert(err));

      }
			
		

		});


	}
//funtion name
  $(function(){
    $('#tbl').DataTable();
	addEvents();

  });
</script>
{% endblock %}