{% extends "base.html" %}
{% from 'macros.html' import pintar_alerta %}

{% block dinamico %}
<form action="{{ url_for('tipoinsumomod.update_tipo_insumo') }}" method="post">
  <div class="card">
    <div class="card-header">Editar ciudad</div>
    <div class="card-body">
      <input type="hidden" name="idtxttipoinsumo" value="{{ tipoinsumoencontrado['id'] }}">
      <input type="text" name="txttipoinsumo" class="form-control" value="{{ tipoinsumoencontrado['descripcion'] }}" required>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
  </div>
</form>
{{ pintar_alerta(messages) }}

{% endblock %}